body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.exercise-list {
    width: 100%;
    max-width: 600px;
}

.exercise-item {
    display: block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;  /* Remove underline from links */
    color: black;           /* Set text color */
    transition: transform 0.3s, box-shadow 0.3s;
}

.exercise-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9; /* Light background on hover */
}

.exercise-item p {
    margin: 0;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #004080;
}

.buttons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 20px;
}

.next-exercise-section {
    width: 100%;
    text-align: center;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #011837;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #01356d;
}

.btn.secondary {
    background-color: #e2e2e2;
    color: #011837;
}

.btn.secondary:hover {
    background-color: #f0f0f0;
}