body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.panel {
    width: 48%;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}
.left-panel ul {
    list-style-type: none;
    padding: 0;
}
.left-panel ul li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.left-panel ul li:hover {
    background-color: #d1d3d4;
}
.left-panel ul li:active {
    background-color: #b9bbbc;
}
.button {
    background-color: #011837;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 20px;
}
.button:hover {
    background-color: #01356d;
}
.button:active {
    background-color: #011837;
}

.button.secondary {
    background-color: #e2e2e2;
    color: #011837;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 20px;
}

.button.secondary:hover {
    background-color: #f0f0f0;
}

.button.secondary:active {
    background-color: #e2e2e2;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.progress-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.progress-circle {
    position: relative;
    width: 120px;
    height: 120px;
}
.progress-ring {
    transform: rotate(-90deg);
}
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
}
.next-exercise-section {
    width: 100%;
    text-align: center;
}

.update-progress-button {
    
    width: 200px;
}

.buttons {
    display: flex;
    width: 75%;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .panel {
        width: 100%;
        margin: 20px;
    }
}

.exercise-list {
    width: 100%;
    max-width: 600px;
}

.exercise-item {
    display: block;
    background-color: rgb(219, 217, 217);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;  /* Remove underline from links */
    color: black;           /* Set text color */
    transition: transform 0.3s, box-shadow 0.3s;
}

.exercise-in-progress {
    display: block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;  /* Remove underline from links */
    color: black;           /* Set text color */
    transition: transform 0.3s, box-shadow 0.3s;
}