<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_user.css') }}">
</head>
<body>
    <a href="{{ url_for('root') }}"><img src="../static/img/Logo_Bleu.svg" alt="" /></a>
    <div class="container">
        <h2>Éditer profil</h2>
        <div class="header">
            <div class="exercise-title">
                <h3> Vos données personnelles </h3>
            </div>
        </div>
        <form action="{{ url_for('edit_user', iduser=iduser) }}" method="post" class="inputs">
            <div class="input-group">
                <label class="champs" for="firstname">Prénom :</label>
                <input type="text" name="firstname" id="firstname" value="{{ user.firstname }}" required>
                
            </div>
            <div class="input-group">
                <label class="champs" for="surname">Nom :</label>
                <input type="text" name="surname" id="surname" value="{{ user.surname }}" required>
                
            </div>
            <div class="input-group">
                <label class="champs" for="email">Email :</label>
                <input type="email" name="email" id="email" value="{{ user.email }}" required>
                
            </div>
            <div class="input-group">
                <label for="password"> Mot de passe </label>
                <input type="password" name="password" id="password" required />
                
            </div>
            <div class="input-group">
                <p> Changer de programme </p>
                <select id="programme" name="id_program">
                    {% for program in programs %}
                        <option value="{{ program.id_program }}" {% if user_program and user_program.id_program == program.id_program %}selected{% endif %}>
                            {{ program.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="buttons">      
                <input class="button" type="submit" value="Enregistrer">
            </div>
        </form>
    </div>
</body>
</html>
