<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/erreur.css') }}"
  />
</head>
<body>
  <a href="{{ url_for('root') }}"><img src="../static/img/Logo_Bleu.svg" alt="" /></a>
    <div class="container">
      <div class="header">
      </div>
      <div class="content">
          <h1 class="error"> {{message}} </h1>
          <p class="error"> Veuillez retourner à la page d'accueil </p>
      </div>
      <div class="buttons">
        <input class="button" type="submit" value="Return" onclick="location.href='{{ url_for('root') }}'"/>
      </div>
  </div>
</body>
</html>
