<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/exercices.css') }}"
  />
</head>
<body>
    <div class="container">
        <h2>Jour N°</h2>
        <div class="header">
            <div class="exercise-title">
                <h3> Nom exercice </h3>
                <h3> Nom programme </h3>
            </div>
            <p> Descritpion exercice </p>
        </div>
        <div class="inputs">
            <div class="input-group">
                <label for="temps"> Critère n°1 </label>
                <input type="text" id="temps" name="temps">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="distance"> Critère n°2 </label>
                <input type="text" id="distance" name="distance">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="obstacle"> Critère n°3 </label>
                <input type="text" id="obstacle" name="obstacle">
                <button>Valider</button>
            </div>
        </div>
        <div class="done-button">
            <button>FAIT</button>
        </div>
    </div>
</body>
</html>
