<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/exercices.css') }}"
  />
</head>
<body>
    <img src="../static/img/Logo_Bleu.svg" alt="" />
    <div class="container">
        <h2>Jour N°</h2>
        <div class="header">
            <div class="exercise-title">
                <h3> Nom exercice </h3>
                <h3> Nom programme </h3>
            </div>
            <p> Descritpion exercice </p>
        </div>
        <div class="inputs">
            <div class="input-group">
                <label for="temps"> Temps </label>
                <input type="number" id="temps" name="temps">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="distance"> Distance </label>
                <input type="number" id="distance" name="distance">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="obstacle"> Critère n°3 </label>
                <input type="number" id="obstacle" name="obstacle">
                <button>Valider</button>
            </div>
        </div>
        <div class="buttons">
            <button class="button">Done</button>
            <button onclick="location.href='user.html'" class="button secondary">Return</button>
        </div>
    </div>
</body>
</html>
