<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/exercices.css') }}"
  />
</head>
<body>
    <div class="container">
        <h2>Jour N°</h2>
        <div class="header">
            <div class="exercise-title">
                <h3>{{selected_exercise.name}}</h3>
                <h3> Nom programme </h3>
            </div>
            <p>{{selected_exercise.description}}</p>
        </div>
        <div class="inputs">
            <div class="input-group">
                <label for="temps">Temps :</label>
                <input type="text" id="temps" name="temps">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="distance">Distance : </label>
                <input type="text" id="distance" name="distance">
                <button>Valider</button>
            </div>
            <div class="input-group">
                <label for="obstacle">{{selected_exercise.target_desc}}</label>
                <input type="text" id="obstacle" name="obstacle">
                <button>Valider</button>
            </div>
        </div>
        <div class="done-button">
            <form action="{{ url_for('next_exercise', id_exercise=selected_exercise.id_exercise) }}" method="post">
                <button type="submit" value="exercise_completed">FAIT</button>
            </form>
        </div>
    </div>
</body>
</html>
