<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <h2 class="title">Connectez-vous</h2>
        
        <div class="inputs">
            <div class="input-group">
                
                <p class="champs"> Name :</p>
                <input type="text" id="name" name="name" required>
                
            </div>
            <div class="input-group">
                
                <p class="champs"> Email :</p>
                <input type="email" id="email" name="email" required>
                
            </div>
            <div class="input-group">
                <p class="champs"> Password :</p>
                
                <input type="password" id="password" name="password" required>
                
            </div>
            <div class="buttons">
                <button type="submit">Se connecter</button>
            </div>
            
        </div>
        
    </div>
</body>
</html>
