<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/programme_exos.css') }}"
  />
</head>
<body>
    <h1>Nom Programme</h1>
    <h2>Jour N</h2>
    <div class="exercise-list">
        <a class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
    </div>
    <div class="buttons">
        <button onclick="location.href='user.html'" class="btn">Valider</button>
        <button onclick="location.href='programmes.html'" class="btn secondary">Retour</button>
    </div>
</body>
</html>
