<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
    <link rel="stylesheet" href="../static/css/programme_exos.css">
</head>
<body>
    <h1>Nom Programme</h1>
    <h2>Jour N</h2>
    <div class="exercise-list">
        <a href="exercices.html" class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a href="exercices.html" class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a href="exercices.html" class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a href="exercices.html" class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
        <a href="exercices.html" class="exercise-item">
            <p><strong>Nom Exercice:</strong> description</p>
        </a>
    </div>
</body>
</html>
