<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programmes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmes.css') }}" />
</head>
<body>
    <a href="{{ url_for('root') }}"><img src="../static/img/Logo_Bleu.svg" alt="" /></a>
    <h1>No time to run!</h1>
    <h2>Choisissez votre programme :</h2>
    <div class="program-container">
        {% for program in programs %}
        <a href="{{ url_for('assign_program', iduser=iduser, id_program=program.id_program) }}" class="program-card">
            <h3>{{ program.name }}</h3>
            <p>{{ program.description }}</p>
        </a>
        {% endfor %}
    </div>
</body>
</html>