<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/questions.css') }}"
    />
  </head>
  <body>
    <img src="../static/img/Logo_Bleu.svg" alt="" />
    <!-- <img src="../static/img/Logo_Bleu.svg" alt="" /> -->
    <section class="container">
      <h1>Questionnaire</h1>
      <form action="{{ url_for('questions', iduser=iduser) }}" method="post">
        <div class="input-group">
          <label class="champs" for="weight">Poids :</label>
          <input type="number" name="weight" id="weight" maxlength="3" required />
        </div>
        <div class="input-group">
          <label class="champs" for="height">Taille :</label>
          <input type="number" name="height" id="height" maxlength="3" required />
        </div>
        <div class="input-group">
          <label class="champs" for="animal">Animal Préféré :</label>
          <input type="text" name="animal" id="animal" required />
        </div>
        <div class="buttons">
          <input class="button" type="submit" value="Complete" />
        </div>
      </form>
    </section>
    {% if message %}
    <div class="welcome_message">
      <p>{{message}}</p>
    </div>
    {% endif %}
  </body>
</html>
