<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Register</title>
  </head>
  <body>
    <img src="../static/img/Logo_Bleu.svg" alt="" />
    <section class="register">
      <h1>Register</h1>
      <form action="/add_user" method="post">
        <div class="input_element">
          <label for="firstname">Prénom :</label>
          <input type="text" name="firstname" id="firstname" required />
        </div>
        <div class="input_element">
          <label for="surname">Nom :</label>
          <input type="text" name="surname" id="surname" required />
        </div>
        <div class="input_element">
          <label for="password">Password :</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="input_element">
          <label for="email">E-mail :</label>
          <input type="email" name="email" id="email" required />
        </div>
        <input class="btn" type="submit" value="Register" />
      </form>
    </section>
  </body>
</html>
