<!-- templates/select_exercise.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Exercise</title>
</head>
<body>
    <h1>Exercices : </h1>
    <form action="{{ url_for('add_exercise_to_program') }}" method="post">
        <label for="exercise">Choisis un exercice :</label>
        <select id="exercise" name="exercise_id">
            {% for exercise in exercises %}
                <option value="{{ exercise[0] }}">{{ exercise[1] }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="program_id" value="{{ program_id }}">
        <input type="submit" value="Ajouter au programme">
    </form>
</body>
</html>