<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Select Program</title>
  </head>
  <body>
    <h1>Programmes :</h1>
    {% if programs %}
    <form action="{{ url_for('add_program_to_user') }}" method="post">
      <label for="program">Choisissez un programme :</label>
      <select id="program" name="program_id">
        {% for program in programs %}
        <option value="{{ program[0] }}">{{ program[1] }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Select" />
    </form>
    {% else %}
    <p>Tu n'as pas de programmes :( !</p>
    {% endif %}
  </body>
</html>
