<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/user.css') }}"
    />
  </head>
  <body>
    <img src="../static/img/Logo_Bleu.svg" alt="" />
    <div class="container">
      <div class="header">
        <h1>Welcome {{user.firstname}}</h1>
      </div>
      <div class="main-content">
        <div class="panel left-panel">
          <div>
            <h2>Mon Programme</h2>
            <p>{{program.name}}</p>
            <div class="exercise-list">
              {% for exercise in exercises %}
              <a class="exercise-item">
                <p>
                  <strong>{{exercise.name}}</strong> {{exercise.description}}
                </p>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="progress-section">
            <div class="progress-circle" data-percentage="{{progress}}">
              <!-- données en pourcentage du cercle -->
              <svg class="progress-ring" width="120" height="120">
                <circle
                  class="progress-ring__circle"
                  stroke="green"
                  stroke-width="8"
                  fill="transparent"
                  r="54"
                  cx="60"
                  cy="60"
                />
              </svg>
              <div class="progress-text">{{progress}}</div>
              <!-- données en pourcentage du texte -->
            </div>
            <div>
              <h2>Bilan général</h2>
              <p>Actuellement, tu es à {{progress}}% de ton programme. On estime qu'avec les données que tu nous as fourni, tu es à {{changed_weight}}kg.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button
          onclick="location.href='/users/{{user.iduser}}/current_exercise'"
          class="button"
        >
          Next exercise
        </button>
        <button
          onclick="location.href='/users/{{user.iduser}}/edit'"
          class="button secondary"
        >
          Edit user
        </button>
      </div>
    </div>
    <script src="../static/js/progress.js"></script>
  </body>
</html>
